* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

.big-container {
    max-width: 1255px;
    margin: 0px auto;
}

.small-container {
    max-width: 1040px;
    margin: 0px auto;
}

/* Header */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 15px;
}

.navbar li {
    display: inline;
    vertical-align: middle;
    padding: 5px 10px;
}

li.button {
    color: white;
    background-color: #0061FF;
}

/* Main */
.hero {
    background-color: #B4D0E7;
    padding: 10px;
}

.row {
    border: 1px solid blueviolet;
}

.col {
    border: 1px dashed green;
}

/* Footer */
.page-footer {
    background-color: darksalmon;
    padding: 5px;
}